<app-header></app-header>
<div class="min-h-screen bg-gray-700 flex flex-col items-center justify-center">
    <!-- Header -->
    <header class="mb-10">
      <h1 class="text-white text-4xl font-bold">Poll-Web</h1>
    </header>
    

        <div class="w-full max-w-md bg-white rounded-lg shadow dark:border dark:bg-gray-800 dark:border-gray-700">
          <div class="p-6 space-y-4 sm:p-8">
            <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
              Create an account
            </h1>
            <form class="space-y-4" action="#" (submit)="signupUser()" [formGroup]="userForm">
              <div>
                <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username</label>
                <input type="text" formControlName="username"  name="username" id="username" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" placeholder="Your username" required>
                <div class="text-red-700 h-auto">
                  <div class="error-message"
                    *ngIf=" userForm.get('username')?.errors?.['required'] && userForm.get('username')?.touched">
                    Please fill in this field.
                  </div>
                  <div class="error-message"
                    *ngIf="userForm.get('username')?.errors?.['minlength'] && userForm.get('username')?.touched">
                    Username must contain at least 3 characters.
                  </div>
                  <div class="error-message"
                    *ngIf="userForm.get('username')?.errors?.['pattern'] && userForm.get('username')?.touched">
                    Username must contain only letters
                  </div>
                </div>
              </div>
              <div>
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
                <input type="email" formControlName="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" placeholder="name@company.com" required>
                <div class="text-red-700 h-auto">
                  <div class="error-message"
                    *ngIf=" userForm.get('email')?.errors?.['required'] && userForm.get('email')?.touched">
                    Please fill in this field.
                  </div>
                  <div class="error-message"
                    *ngIf="userForm.get('email')?.errors?.['email'] && userForm.get('email')?.touched">
                    Please enter a valid email address.
                  </div>
                </div>
              </div>
              <div>
                <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                <input type="password" formControlName="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" required>
                <div class="text-red-700 h-aut">
                  <div class="error-message"
                    *ngIf=" userForm.get('password')?.errors?.['required'] && userForm.get('password')?.touched">
                    Please fill in this field.
                  </div>
                  <div class="error-message"
                    *ngIf="userForm.get('password')?.errors?.['minlength'] && userForm.get('password')?.touched">
                    password must contain at least 8 characters.
                  </div>
                  <div class="error-message"
                    *ngIf="userForm.get('password')?.errors?.['pattern'] && userForm.get('password')?.touched">
                    Password must meet the required format.
                  </div>
                </div>
              </div>
              <button [disabled]="userForm.invalid" type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Create an account</button>
              <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                Already have an account? <a [routerLink]="['/login']" class="font-medium text-blue-700 hover:underline dark:text-blue-500">Login here</a>
              </p>
            </form>
          </div>
        </div>
      

</div>